* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

#container {
  width: 320px;
  background-image: url(./Wallpaper.jpg);
  border: 5px solid lightgray;
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;   
  align-items: center;      
  justify-content: flex-start;
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.15);
}

#profile img {
  height: 120px;
  width: 100px;
  margin-top: 20px;
  display: flex;
  border-radius: 100px;
  flex-direction: column;   
  align-items: center;      
  justify-content: flex-start; 
}  

a {
  display: block;
  color: black;
}

button {
  margin: auto;
  display: flex;
  flex-direction: column;   
  align-items: center;      
  justify-content: flex-start;
  margin-top: 20px;  
  width: 110px;
  border-radius: 20px;
  height: 40px;
  background-color: transparent;
  font-size: 20px;
  font-family: Inter;
}

#button2 {
  margin: auto;
  display: flex;
  flex-direction: column;   
  align-items: right;      
  justify-content: flex-start;
  margin-top: 20px;
  background-color: transparent;
  
}
